body{
  background-color: #ccffff;
}
.grid-wrapper{
  display: grid;
  justify-content: center;
  
}

.fullcontainer{
  display: grid;
  justify-content: center;
  width:400px;
  
  border: 2px solid black;
  /*background: linear-gradient(45deg, greenyellow, dodgerblue);*/
  background: #99ff66;

}





.lab3{
  font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;  
}

h1{
  font-size: 40px;
  text-align: center;
}

#tiprange,#tippercent,#tipamount,#finalbillwithtip{
  margin-top: 15px;
  
}

#finalbillwithtip{
  margin-bottom: 15px;
}

#tiprange{
  width: 165px;
}

label {
  display: inline-block;
  width: 300px;
  text-align: right; 
}

@media all and (max-width: 600px){
body{
  background-color:#28B463;
  }

  .fullcontainer
  {
  
   background-color: #495C70; 
   width: 350px;
   margin-left: 0px;
   color: #fff;
  }
  
  .lab3{
    color:#fff; 
  }


}

