.fullcontainer {
  
  padding: 20px; 
  width: 700px;
  height: 500px;
  

}


.form-container{
  display: grid;
  justify-content: center;
  border: 2px solid blue;
  background-color: #D5F5E3;

}



#errorlog{
  color: red;
}

.lab3{
  font-size: 18px;
}

h1{
  font-size: 40px;
}

#tiprange,#tippercent,#tipamount,#finalbillwithtip{
  margin-top: 15px;
  
}

#finalbillwithtip{
  margin-bottom: 15px;
}

#tiprange{
  width: 165px;
}

label {
  display: inline-block;
  width: 300px;
  text-align: right; 
}

@media all and (max-width: 600px){
body{
  background-color:#28B463;
  }

  .form-container{
   background-color: #F5B7B1; 
   width: 350px;
   height: 400px;
  }

}

 



  ​