.fullcontainer {
  
  padding: 20px; 
  width: 700px;
  height: 500px;
  

}


.form-container{
  display: grid;
  justify-content: center;
  border: 2px solid black;
  /*background: linear-gradient(45deg, greenyellow, dodgerblue);*/
  background:#74ebd5;
  background: -webkit-linear-gradient(to bottom, #74ebd5, #acb6e5);
  background: linear-gradient(to bottom, #74ebd5, #acb6e5);
}





.lab3{
  font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;  
}

h1{
  font-size: 40px;
}

#tiprange,#tippercent,#tipamount,#finalbillwithtip{
  margin-top: 15px;
  
}

#finalbillwithtip{
  margin-bottom: 15px;
}

#tiprange{
  width: 165px;
}

label {
  display: inline-block;
  width: 300px;
  text-align: right; 
}

@media all and (max-width: 600px){
body{
  background-color:#28B463;
  }

  .form-container{
   background-color: #495C70; 
   width: 350px;
   height: 400px;
   color: #fff;
  }
  
  .lab3{
    color:#fff; 
  }


}

